<!DOCTYPE html>

<html>
<body>
	<p style="position: fixed; top: 0; left: 1vw;">
		<a href="/">Home</a>, <a href="/logout">Logout</a>
	</p>
	<br><br><br><br>
	<center>
		<h3>Catalog:</h3>
		<table style="border: 1px solid black;">
			<tr>
				<th>Title</th>
			</tr>
			{% for story in stories %}
				<tr style="border: 1px solid black;">
					<td style="border-top: 1px solid black; height: 50px;"><a href="/view_story?id={{story[1]}}"> {{story[0]}} </a></td>
				</tr>
			{% endfor %}
		</table>
	</center>
</body>
</html>
