<!DOCTYPE html>

<html>
<body>
	<br><br><br><br>
	<center>
		<h2>Rudimentary Storytelling Website <span style="font-size: 14px;">v0.0</span></h2>
		<p>A project created by <i>Scuba-Doo Dog Erasers</i></p>
		<p>Roster: Karen Shekyan, Gabriel Thompson, Russell Goychayev)</p>
		<br>

		<table>
			<tr>
			<td>
				<h2> Login </h2>
				<form action="/login" method="POST">
					<label>Username</label><br>
					<input type="text" name="username"></input><br>
					<label>Password</label><br>
					<input type="password" name="password"></input><br><br>
					<input type="submit" value="Submit">
				</form>
			</td>
			<td style="padding-left: 3vw;">
				<h2> Signup </h2>
				<form action="/signup" method="POST">
					<label>Username</label><br>
					<input type="text" name="username"></input><br>
					<label>Password</label><br>
					<input type="password" name="password"></input><br><br>
					<input type="submit" value="Submit">
				</form>
			</td>
			</tr>
		</table>
	</center>
</body>
</html>
