<!DOCTYPE html>

<html>
<body>
	<p style="position: fixed; top: 0; left: 1vw;">
		<a href="/">Home</a>
	</p>
	<br><br><br><br>
	<center>
		<form action="/submit_story" method="POST">
			<input type="text" name="story_title" placeholder="Enter story title here..." style="font-size: 20px;"></input>
			<br><br>

			<h3> Chapter 1 </h3>
			<textarea name="story_content" rows="15" cols="70" placeholder="Enter content of first chapter here..."></textarea>
			<br><br>
			<input type="submit" value="Submit">
		</form>
	</center>
</body>
</html>
