<!DOCTYPE html>

<html>
<body>
	<p style="position: fixed; top: 0; left: 1vw;">
		<a href="/">Home</a>
	</p>
	<br><br><br><br>
	<center>
		<form action="/submit_edit" method="POST">
			<h2>{{ story_title }}</h2>
			<br><br>
			
			<h3> New Chapter: Chapter {{ chapter }} </h3>
			<textarea name="content" rows="15" cols="70" placeholder="Enter new content here..."></textarea>
			<input type="hidden" name="story_id" value="{{ id }}"></input>
			<br><br>
			<input type="submit" value="Submit">
		</form>
	</center>
</body>
</html>
